:root {
    /* colors */
    --green-color: #7acc2d;
    --white-color: white;
    --black-color: #313337;
    /* tipography */
    --normal-font: 1.2rem;
    /* espacing */
    --space: 10px;
    /* box-shadow */
    --box-shadow--green: 0 0 1px #26e5e9;
    --box-shadow--grey: 0 0 2px rgba(0, 0, 0, 0.1) ;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}
/* header */
.header {
    height: 60px;
    background-color: #7acc2d;
}
.nav {
    height: 100%;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .menu {
    display: flex;
}
.nav .menu .item {
    padding-left: 10px;
    list-style: none;
}
.nav .menu .item a {
    font-size: var(--normal-font);
    color: var(--black-color);
    text-decoration: none;
}
.nav .menu .item a:hover {
    color: var(--white-color);
}
/* main */
.main-section {
    max-width: 1280px;
    margin: 0 auto;
}
.main-section .title {
    /* padding: 10%; */
    /* padding-bottom: initial; */
    width: 733px;
    margin: 100px auto 0;
    font-size: 3rem;
    text-align: center;
}
.main-section .products {
    position: relative;
    display: flex;
    gap: 15px;
    height: 150px;
    margin-top: 50px;
    justify-content: center;
}
.main-section .product {
    width: 240px;
    height: 276px;    
    text-align: center;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: var(--box-shadow--grey);
}
.main-section .products .product .img-container {
    width: 100%;
    height: 50%;
    padding: 10px;
}
.main-section .products .product .img1, .main-section .products .product .img2{
    width: auto;
    height: 100%;
}
.main-section .products .product .img1 {
    position: relative;
    top: 10px;
}
.product .content-container {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-around;
    padding: 0 5%;
}
.content-title {
    margin-bottom: 5px;
    font-size: 1.7rem;
    text-align: left;
}
.content .description {
    max-height: 4em;
    font-size: var(--normal-font);
    text-align: initial;
}
.product .button {
    position: relative;
    bottom: -0.5em;
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 1.7rem;
    color: var(--white-color);
    background-color: var(--green-color);
    border-radius: 2px;
    text-decoration: none;
}
.main-section .curve {
    position: relative;
    z-index: -1;
    /* top: -70px; */
    width: 100%;
    height: 345px;
    background-image: url('../images/curve.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
/* beneficts */
.beneficts {
    max-width: 1280px;
    height: 100%;
    margin: 150px auto 100px;
}
.beneficts-grid {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.beneficts-card {
    width: 212px;
    height: auto;
}
.beneficts-card .container-img {
    width: 100%;
    height: 113px;
    text-align: center;
}
.beneficts-card .container-img .img {
    width: auto;
    height: 100%;
}
.beneficts-card .title {
    font-size: 2.3rem;
    margin: 30px auto 10px;
}
.beneficts-card .text {
    font-size: 1.7rem;
}
@media scree and (max-width: 1023px) {

}
@media scree and (max-width: 767px) {

}
@media scree and (max-width: 479px) {

}
@media scree and (max-width: 319px) {

}
